@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

/* // Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@400;500&display=swap');

// Font Variables
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Oswald', sans-serif;

*/
/* josefin-sans */
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Josefin Sans";
  src: url("../fonts/josefinSans-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
/* Amatic-SC */
@font-face {
  font-family: "Amatic SC";
  src: url("../fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Amatic SC";
  src: url("../fonts/AmaticSC-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
html, body, div, p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1666666;
}

.txt-dark-gray {
  color: #707070;
}
.txt-light-blue {
  color: #169CAB;
}
.txt-dark-blue {
  color: #052D3E;
}
.txt-orange {
  color: #ED5C01;
}
.txt-yellow {
  color: #FBBD08;
}
.txt-medium {
  font-weight: 600;
}
.txt-bold {
  font-weight: 800;
}

a.txt-dark-gray:hover {
  color: #FBBD08;
  text-decoration: underline;
}
a.txt-light-blue:hover {
  color: #ED5C01;
  text-decoration: underline;
}
a.txt-dark-blue:hover {
  color: #ED5C01;
  text-decoration: underline;
}
a.txt-orange:hover {
  color: #169CAB;
  text-decoration: underline;
}
a.txt-yellow:hover {
  color: #169CAB;
  text-decoration: underline;
}

.page-title {
  font-size: 3.333rem;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  color: #ED5C01;
}

.nice-to-know {
  font-style: italic;
  color: #169CAB;
}

.nice-link {
  color: #ED5C01;
  text-decoration: none;
}
.nice-link:hover {
  color: #052D3E;
}

/*
h1, h2{
    font-family: $secondary-font;
    font-weight: 400;
    text-transform: uppercase;
}

h1{
    font-size: 3rem;
    span{
        font-weight: 700;
    }
}

h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1666666;
}

h4{
    font-weight: 500;
    font-size: 1.166666rem;
}

*/
.btn {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 1060px) {
  html, body, div, p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 960px) {
  html, body, div, p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 860px) {
  html, body, div, p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 760px) {
  html, body, div, p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 560px) {
  html, body, div, p {
    font-size: 12px;
  }
}
html, body {
  margin: 0px;
  height: 100%;
  scroll-behavior: smooth;
  background-color: #EBE3CB;
}

.container {
  width: 100%;
  height: 100%;
  /* padding: 8% $base-padding $base-padding; */
  display: flex;
  box-sizing: border-box;
  padding-top: 100px;
}

.block-50 {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .container {
    padding-top: 40px;
  }
}
.btn {
  font-size: 1.15rem;
}
.btn:hover {
  cursor: pointer;
}
.btn-facebook, .btn-twitter, .btn-google {
  width: 100%;
  height: 2.778rem;
  margin-bottom: 1rem;
  border: none;
  color: #FFFFFF;
}
.btn-facebook {
  background-color: #1877f2;
}
.btn-facebook:hover {
  background-color: #FFFFFF;
  color: #1877f2;
}
.btn-twitter {
  background-color: #1d9bf0;
}
.btn-twitter:hover {
  background-color: #FFFFFF;
  color: #1d9bf0;
}
.btn-google {
  background-color: #db4a39;
}
.btn-google:hover {
  background-color: #FFFFFF;
  color: #db4a39;
}

.redactor {
  font-size: 1.222rem;
  line-height: 1.667rem;
}
.redactor h1, .redactor h2, .redactor h3, .redactor h4, .redactor h5, .redactor h6 {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  color: #ED5C01;
}
.redactor h1 {
  font-size: 3.333rem;
  line-height: 3.333rem;
}
.redactor h2 {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 3rem;
}
.redactor p {
  font-size: 1.222rem;
  line-height: 1.667rem;
  margin-top: 1rem;
  font-weight: 300;
}
.redactor strong {
  font-weight: bold;
}
.redactor em {
  font-style: italic;
}
.redactor li {
  line-height: 2.5rem;
  list-style: none;
  margin-left: 1em;
}
.redactor li::before {
  content: "•";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ED5C01;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}
.redactor img {
  max-width: 100%;
  margin-top: 2rem;
}
.redactor a {
  color: #169CAB;
}
.redactor a:hover {
  color: #ED5C01;
}

.games__content.redactor {
  padding-right: 10rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.form-50 {
  width: 50%;
}
.form-input, .form-textarea, .form-select, .form-file {
  width: 100%;
  height: 2.778rem;
  border: none;
  padding: 2%;
  color: #707070;
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}
.form-input::placeholder, .form-textarea::placeholder, .form-select::placeholder, .form-file::placeholder {
  color: #707070;
}
.form-input:active, .form-textarea:active, .form-select:active, .form-file:active {
  border: solid 1px #BE0000;
}
.form-input-50 {
  max-width: 49%;
}
.form-select {
  padding: 0 2%;
}
.form-textarea {
  height: 7rem;
}
.form-checkbox {
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
}
.form-checkbox:checked {
  background-color: #169CAB;
}
.form-button {
  width: 100%;
  height: 2.778rem;
  margin-bottom: 1rem;
  border: none;
  background-color: #169CAB;
  color: #EBE3CB;
}
.form-button-50 {
  width: 50%;
}
.form-button-25 {
  width: 25%;
}
.form-button:hover {
  background-color: #ED5C01;
}
.form-button-reverse {
  background-color: #ED5C01;
}
.form-button-reverse:hover {
  background-color: #052D3E;
}
.form-file {
  padding: 0.8% 2%;
  display: flex;
}
.form-list {
  margin-bottom: 1rem;
}
.form label {
  width: 100%;
  font-weight: 600;
  color: #707070;
}

@media only screen and (max-width: 550px) {
  .form-input-50 {
    max-width: 100%;
  }
}
.main-header {
  position: fixed;
  background-color: #FBBD08;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
  align-items: center;
  z-index: 100;
}
.main-header h1 {
  font-family: "Amatic SC", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.main-header .main-nav p {
  display: block;
  float: left;
  margin-left: 2rem;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.mobile-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  display: none;
  background-color: #FBBD08;
}

.mobile-nav-button {
  background-color: #FBBD08;
  color: #052D3E;
  border: none;
  font-size: 2rem;
  width: 40px;
}
.mobile-nav-button:hover {
  cursor: pointer;
  color: #169CAB;
}

@media only screen and (max-width: 1500px) {
  .main-header {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}
@media only screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
  }

  .main-header {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: flex-start;
    justify-content: center;
    background-color: #FBBD08;
    display: none;
  }

  .visible {
    display: flex;
  }
}
.main-navigation {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.main-navigation-item {
  text-decoration: none;
  color: #052D3E;
}
.main-navigation-item--active {
  color: #ED5C01;
}
.main-navigation-item:hover {
  color: #ED5C01;
}
.main-navigation .dropdown {
  position: relative;
  display: inline-block;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
}
.main-navigation .dropdown-content {
  display: none;
  position: absolute;
  background-color: #FBBD08;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}
.main-navigation .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
}
.main-navigation .dropdown-content a:hover {
  background-color: #052D3E;
  color: #EBE3CB;
}
.main-navigation .dropdown:hover .dropdown-content {
  display: block;
}

.left-nav {
  justify-content: flex-start;
  max-width: 30%;
}
.left-nav-item {
  margin-right: 10%;
}
.left-nav-item :last-child {
  margin-right: 0;
}

.right-nav {
  justify-content: flex-end;
  max-width: 80%;
}
.right-nav-item {
  margin-left: 10%;
  font-size: 2rem;
}
.right-nav-item :last-child {
  margin-left: 0;
}

@media only screen and (max-width: 1350px) {
  .left-nav-item {
    margin-right: 5%;
    font-size: 3rem;
  }

  .right-nav-item {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 768px) {
  .main-navigation {
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    font-size: 1.5rem;
  }
  .main-navigation-item {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  .main-navigation .dropdown {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .main-navigation .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-width: 100%;
  }
  .main-navigation .dropdown-content a {
    color: #052D3E;
    text-decoration: none;
    display: block;
    font-family: "Amatic SC", sans-serif;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .main-navigation .dropdown-content a:hover {
    background-color: #FBBD08;
    color: #ED5C01;
  }
  .main-navigation .dropdown:hover .dropdown-content {
    display: flex;
  }

  .left-nav {
    order: 2;
    justify-content: flex-end;
    margin: 0;
  }

  .right-nav {
    order: 3;
    margin: 0;
  }
}
@keyframes cc-loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cc-w {
  color: #2a2e2e;
  font-size: 15px;
}
.cc-w a, .cc-w .cc-a {
  color: #3273dc;
  font-family: "Josefin Sans", sans-serif;
}
.cc-w a:hover, .cc-w a:active, .cc-w .cc-a:hover, .cc-w .cc-a:active {
  color: #363636;
}
.cc-w .cc-i {
  margin-top: calc(-100px + 0.75rem);
  padding-top: calc(100px + 0.75rem);
  border-top: 1px solid rgba(219, 219, 219, 0.5);
}
.cc-w .cc-w-i > .cc-i:first-child {
  margin-top: -100px;
  padding-top: 100px;
  border-top: none;
}
.cc-w.no-avatar .cc-i .cc-i {
  margin-left: 3rem;
}
.cc-w .cc-i-wrap {
  overflow: hidden;
}
.cc-w .cc-i-header,
.cc-w .cc-i-footer,
.cc-w .cc-v,
.cc-w .cc-ll {
  display: flex;
  align-items: center;
}
.cc-w .cc-i-comment > .cc-i {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}
.cc-w .cc-i-header,
.cc-w .cc-i-footer {
  font-size: 0.875em;
}
.cc-w .cc-i-body {
  padding: 3px 0 7px;
}
.cc-w .cc-i-figure {
  float: left;
  margin-right: 0.75rem;
}
.cc-w .cc-i-image {
  display: block;
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.cc-w .cc-i .cc-i .cc-i-image {
  width: 36px;
  height: 36px;
}
.cc-w .cc-i-img img {
  display: block;
  height: auto;
  width: 100%;
}
.cc-w .cc-i-image-icon {
  background: #949ea7;
}
.cc-w .cc-i-image-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  background-size: 80%;
  background-position: 50% 100%;
  background-color: #e2e7ea;
  display: block;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23949ea7' d='M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z'%3E%3C/path%3E%3C/svg%3E");
}
.cc-w .cc-ll-i {
  display: inline-flex;
}
.cc-w .cc-ll-i::before {
  content: "·";
  font-size: 0.875em;
  padding: 0 5px;
}
.cc-w .cc-i-header-links {
  display: none;
  margin-left: auto;
}
.cc-w .cc-i-header-links.has-flag,
.cc-w .cc-i-content:hover .cc-i-header-links {
  display: block;
  margin-right: 0.5rem;
}
.cc-w .cc-i-flag {
  width: 12px;
  height: 12px;
  display: block;
  opacity: 0.6;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z'%3E%3C/path%3E%3C/svg%3E");
  border: none;
  cursor: pointer;
  outline: none;
}
.cc-w .cc-i-header .cc-icon svg {
  width: 13px;
  height: 13px;
  fill: inherit;
  margin-right: 5px;
  margin-left: 5px;
  color: #687a86;
  padding-top: 5px;
  display: inline-block;
  vertical-align: middle;
}
.cc-w .cc-i-reply {
  color: #687a86;
  font-weight: 500;
}
.cc-w form[data-action] {
  margin: 0;
  padding: 0;
}
.cc-w .cc-v-up,
.cc-w .cc-v-down {
  position: relative;
  padding: 0 5px;
  margin: 0 4px;
  color: #656c7a;
  text-indent: -9999px;
  overflow: hidden;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.cc-w .cc-v-up::after,
.cc-w .cc-v-down::after {
  content: "";
  width: 10px;
  height: 11px;
  display: block;
  opacity: 0.7;
  min-height: 12px;
  background-repeat: no-repeat;
  transition: 0.3s ease;
}
.cc-w .cc-v-up:hover:not(.disabled)::after,
.cc-w .cc-v-down:hover:not(.disabled)::after {
  opacity: 1;
}
.cc-w .cc-v-up.disabled,
.cc-w .cc-v-down.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.4;
}
.cc-w .cc-v-down::before {
  content: "";
  border-left: 2px solid #e7e9ee;
  height: 12px;
  position: absolute;
  top: 0;
  left: -5px;
  cursor: default;
  pointer-events: none;
}
.cc-w .cc-v-up::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z'%3E%3C/path%3E%3C/svg%3E");
}
.cc-w .cc-v-down::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
}
.cc-w .cc-i-delete {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
  color: #BE0000;
}
.cc-w .cc-f-wrap {
  position: relative;
}
.cc-w .cc-f-input,
.cc-w .cc-f-textarea,
.cc-w .cc-f-btn {
  appearance: none;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #2a2e2e;
  box-shadow: none;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.4rem 0.6rem;
  position: relative;
  vertical-align: top;
}
.cc-w .cc-f-input::placeholder,
.cc-w .cc-f-textarea::placeholder,
.cc-w .cc-f-btn::placeholder {
  color: #9facb5;
}
.cc-w .cc-f-input:active, .cc-w .cc-f-input:focus,
.cc-w .cc-f-textarea:active,
.cc-w .cc-f-textarea:focus,
.cc-w .cc-f-btn:active,
.cc-w .cc-f-btn:focus {
  outline: 0;
}
.cc-w .cc-f-input,
.cc-w .cc-f-textarea {
  width: 100%;
}
.cc-w .cc-f-input:active, .cc-w .cc-f-input:focus,
.cc-w .cc-f-textarea:active,
.cc-w .cc-f-textarea:focus {
  border-color: #bec5ce;
}
.cc-w .cc-f-textarea {
  max-width: 100%;
  min-width: 100%;
  resize: vertical;
  max-height: 600px;
  min-height: 120px;
}
.cc-w .cc-f-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25rem;
}
.cc-w .cc-f-col {
  flex: 1 0 auto;
  padding: 0 0.25rem;
}
.cc-w .cc-f-input {
  margin-bottom: 0.5rem;
}
.cc-w .cc-f-btn {
  padding: 0;
  margin: 0.5rem 0 0 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  background-color: #169CAB;
  color: #FFFFFF;
  border-radius: 0;
}
.cc-w .cc-f-btn:hover {
  background-color: #ED5C01;
  color: #FFFFFF;
}
.cc-w .cc-f-btn:hover, .cc-w .cc-f-btn:active {
  border-color: #bec5ce;
}
.cc-w .cc-f-btn.loading {
  color: transparent !important;
  min-height: 1rem;
  pointer-events: none;
  position: relative;
}
.cc-w .cc-f-btn.loading::after {
  animation: cc-loading 0.5s infinite linear;
  border: 0.1rem solid #000;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1rem;
  left: 50%;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  position: absolute;
  top: 50%;
  width: 1rem;
  z-index: 1;
}
.cc-w .cc-f-label {
  color: #656c7a;
  font-size: 90%;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.cc-w .cc-f-label-i {
  color: #7e8594;
  font-size: 80%;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.cc-w .cc-f-label-r {
  color: #fb4143;
}
.cc-w .cc-f-select {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='%23333F48' fill-rule='evenodd' d='M7.484.643a.23.23 0 0 1-.067.154l-3.12 3.12a.23.23 0 0 1-.154.067.23.23 0 0 1-.154-.067L.869.797A.23.23 0 0 1 .8.643.23.23 0 0 1 .868.489l.335-.335a.218.218 0 0 1 .154-.067.23.23 0 0 1 .154.067l2.632 2.632L6.775.154a.23.23 0 0 1 .154-.067.23.23 0 0 1 .154.067l.334.335c.04.04.067.1.067.154z'/%3E%3C/svg%3E") no-repeat;
  background-position: right 0.75rem center;
  background-size: 0.7rem;
  padding-right: 2rem;
}
.cc-w .cc-e {
  color: #fb4143;
  font-size: 80%;
  font-weight: 500;
  margin: 0.5rem 0;
}
.cc-w .cc-n {
  color: #2972fa;
  font-size: 80%;
  font-weight: 500;
  margin: 0.5rem 0;
}
.cc-w .cc-w-h {
  border-bottom: 1px solid #dbdfe4;
  margin-bottom: 1rem;
}
.cc-w .cc-sub {
  color: #656c7a;
  font-size: 80%;
  font-weight: 600;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
}
.cc-w .cc-sub.is-subscribed, .cc-w .cc-sub.is-subscribed:hover, .cc-w .cc-sub.is-subscribed:active {
  color: #5cb767;
}
.cc-w .cc-sub:hover, .cc-w .cc-sub:active {
  color: #424750;
}
.cc-w .cc-sub .cc-icon-envelope svg {
  width: 17px;
  height: 19px;
  fill: inherit;
  margin-right: 5px;
}
.cc-w .cc-sub .cc-icon-check svg {
  width: 12px;
  height: 14px;
  fill: inherit;
  margin-left: 7px;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.cc-w .cc-sub.is-subscribed .cc-icon-check svg {
  opacity: 1;
}

.home__link {
  max-width: 50%;
  width: 100%;
  height: 100%;
  max-height: 33.33%;
  box-sizing: border-box;
  padding: 0.5rem;
  text-decoration: none;
}
.home__link-item {
  background-color: #052D3E;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 25%;
}
.home__link-item:hover {
  background-color: #ED5C01;
}
.home__link-title {
  color: #FBBD08;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
.home__article {
  height: 100%;
  max-height: calc(50% - 1rem);
  width: calc(100% - 1rem);
  box-sizing: border-box;
  background-color: #169CAB;
  margin: 0.5rem;
  padding: 0.5rem;
  overflow: hidden;
  text-decoration: none;
}
.home__article:hover {
  background-color: #ED5C01;
}
.home__article-title {
  font-size: 2rem;
  font-weight: bold;
  color: #FBBD08;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.home__article-text p {
  font-size: 1.222rem;
  line-height: 1.667rem;
  font-weight: 300;
  color: #052D3E;
}

@media only screen and (max-width: 960px) {
  .home .block-50:nth-child(1) {
    display: none;
  }
  .home .block-50:nth-child(2) {
    max-width: 100%;
  }
}
.auth__block {
  height: 100%;
}
.auth__block-left {
  max-width: calc(100% - 500px);
  width: 100%;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.auth__block-right {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5%;
}
.auth__block-right a {
  text-decoration: none;
}
.auth__block-right a.social {
  width: 100%;
}
.auth__block-right-choice {
  width: 100%;
  text-align: center;
  max-width: 600px;
  position: relative;
  margin: 2rem 0;
  color: #707070;
}
.auth__block-right-choice:before, .auth__block-right-choice:after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background: #707070;
  top: 50%;
  position: absolute;
}
.auth__block-right-choice:before {
  left: 0;
}
.auth__block-right-choice:after {
  right: 0;
}

.games__left-column {
  max-width: 300px;
  width: 100%;
  background-color: #169CAB;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
  padding: 1rem;
  overflow: scroll;
}
.games__content {
  max-width: calc(100% - 300px);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  margin-left: 300px;
}
.games__content-bottom-text {
  float: right;
}
.games__content-link {
  text-decoration: none;
  color: #707070;
}
.games__content__item {
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 1rem 1rem;
  border-bottom: solid 2px #169CAB;
}
.games__content__item:hover {
  background-color: #FBBD08;
}
.games__content-title {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.games__content-mainTitle {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 3.333rem;
}
.games__content-subtitle {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 1.444rem;
  margin-top: 1rem;
}
.games__content-text {
  line-height: 1.667rem;
  font-size: 1.222rem;
  font-weight: 300;
}
.games__content-specs {
  line-height: 1.667rem;
  font-size: 1.222rem;
  font-weight: 400;
}
.games__content-specs-spec {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 400;
}
.games__form {
  max-width: 80%;
}

li.games__content-specs-spec {
  font-size: 1.222rem;
  line-height: 1rem;
}
li.games__content-specs-spec a {
  text-decoration: none;
  color: #FBBD08;
}
li.games__content-specs-spec a:hover {
  color: #052D3E;
}

@media only screen and (max-width: 768px) {
  .games__left-column {
    display: none;
  }
  .games__content {
    max-width: 100%;
    margin-left: 0px;
  }
}
.profile__left-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.profile__left-column a.profile {
  width: 100%;
}
.profile__profile-pic {
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.profile__content {
  display: flex;
  flex-wrap: wrap;
}
.profile__content .page-title {
  width: 100%;
}
.profile__content .profile__link {
  max-width: 33.33%;
  width: 100%;
  height: 100%;
  max-height: calc((100% - 3rem) / 3);
  box-sizing: border-box;
  padding: 0.5rem;
  text-decoration: none;
}
.profile__content .profile__link-item {
  background-color: #052D3E;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20% 25%;
}
.profile__content .profile__link-item:hover {
  background-color: #ED5C01;
}
.profile__content .profile__link-title {
  color: #FBBD08;
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 1180px) {
  .profile__content .profile__link {
    max-width: 50%;
  }
}
@media only screen and (max-width: 768px) {
  .profile__left-column {
    display: none;
  }
  .profile__left-column a.profile {
    width: 100%;
  }
  .profile__profile-pic {
    width: 160px;
    height: 160px;
  }
  .profile__content .profile__link {
    max-width: 50%;
  }
  .profile__content .profile__link-item {
    padding: 20% 25%;
  }
}
@media only screen and (max-width: 480px) {
  .profile__content .profile__link {
    max-width: 100%;
    margin-bottom: -100px;
    padding: 0;
  }
  .profile__content .profile__link-item {
    padding: 5%;
    height: 50%;
  }
}
.tasks__table {
  width: 100%;
  max-width: 80%;
}
.tasks__table-row {
  line-height: 2rem;
}
.tasks__table-row:not(:first-child) {
  border-top: solid 2px #169CAB;
}

/*# sourceMappingURL=main.css.map */
