<header class="main-header">
    <h1 class="txt-orange">Mijn mega coole logo</h1>
    <nav class="main-nav">
        <p class="txt-dark-blue">MenuItem</p>
        <p class="txt-dark-blue">MenuItem</p>
        <p class="txt-dark-blue">MenuItem</p>
        <p class="txt-dark-blue">MenuItem</p>
    </nav>
</header>