{% extends "_layouts/site" %}

{% set crafts = craft.entries({
    section: 'crafts',
})
.orderBy('RAND()') %}
  
{% block content %}

    <div class="container">
        <div class="games__left-column">
        </div>
        <div class="games__content">
            <h1 class="page-title">Alle knutselopdrachten</h1>
            <p>Hieronder vind je enkele knutselopdrachten.</p>

            <p class="nice-to-know"> Je kunt <a href="knutselopdrachten/toevoegen" class="nice-link">hier</a> zelf een knutselopdracht toevoegen </p>
            {% for craft in crafts %}
                <a href="{{ craft.getUrl() }}" class="games__content-link">
                    <div class="games__content__item">
                        <h2 class="games__content-title txt-light-blue">
                            {{craft.title}}
                        </h2>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}