.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    &-50{
        width: 50%;
    }
    &-input , &-textarea, &-select, &-file{
        width: 100%;
        height: 2.778rem;
        border: none;
        padding: 2%;
        color: $dark-gray;
        margin-bottom: 1rem;
        font-size: 1.15rem;
        font-family: $primary-font;
        font-weight: 400;
        &::placeholder{
            color: $dark-gray;
        }
        &:active{
            border: solid 1px $secondary-color;
        }
    }
    &-input{
        &-50{
            max-width: 49%;
        }
    }
    &-select{
        padding: 0 2%;
    }
    &-textarea{
        height: 7rem;
    }
    &-checkbox{
        background-color: $white;
        width: 20px;
        height: 20px;
        &:checked{
            background-color: $light-blue;
        }
    }
    &-button{
        width: 100%;
        height: 2.778rem;
        margin-bottom: 1rem;
        border: none;
        background-color: $light-blue;
        color: $creme;
        &-50{
            width: 50%;
        }
        &:hover{
            background-color: $orange;
            
        }
    }
    &-file{
        padding: 0.8% 2%;
        display: flex;
    }
    label{
        width: 100%;
        font-weight: 600;
        color: $dark-gray;
    }
}


@media only screen and (max-width: 550px) {
    .form{
        &-input{
            &-50{
                max-width: 100%;
            }
        }
    }
}