.main-header{
    position: fixed;
    background-color: $yellow;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
    align-items: center;
    h1{
        font-family: $secondary-font;
        font-size: 3rem;
        font-weight: bold;
    }
    .main-nav{
        p{
            display: block;
            float: left;
            margin-left: 2rem;
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 2rem;
        }
    }
}