.main-navigation{
    text-transform: uppercase;
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: bold;
    max-width: 40%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    &-item{
        text-decoration: none;
        color: $dark-blue;
        &--active{
            color: $orange;
        }
        &:hover{
            color: $orange;
        }
    }
}

.left-nav{
    justify-content: flex-start;
    &-item{
        margin-right: $nav-space-between;
        :last-child{
            margin-right: 0;
        }
    }
}

.right-nav{
    justify-content: flex-end;
    &-item{
        margin-left: $nav-space-between;
        font-size: 2rem;
        :last-child{
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 1350px){
    .left-nav{
        &-item{
            margin-right: calc($nav-space-between/2);
        }
    }
    
    .right-nav{
        &-item{
            margin-left: calc($nav-space-between/2);
        }
    }
}

@media only screen and (max-width: 768px){
    .main-navigation{
        flex-wrap: wrap;
        max-width: 100%;
        width: 100%;
        font-size: 1.5rem;
        &-item{
            max-width: 100%;
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }
    }

    .left-nav{
        order: 2;
        justify-content: flex-end;
        margin: 0;
    }
    .right-nav{
        order: 3;
        margin: 0;
    }
}