{% extends "_layouts/site" %}
  
{% block content %}

    <div class="container">
        <div class="games__left-column profile__left-column">

        </div>
        <div class="games__content redactor">
            {{ entry.redactor }}
        </div>
    </div>
    
{% endblock %}