{% extends "_layouts/site" %}
  
{% block content %}

    <div id="home" class="container home">
        <h2 class="home-title">
            Dit is de reset password page
        </h2>
    </div>


{% endblock %}