{% extends "_layouts/site" %}
  
{% block content %}

    <div class="container">
        <h1> ERROR 404 </h1>
        <p>Oeps, hier zijn er geen spelletjes te vinden</p>
        <p> Probeer het anders eens via onderstaande links:</p>
        <a href="/spelen">Overzicht alle spelen</a>
        <a href="/spelen">Overzicht alle spelen</a>
        <a href="/spelen">Overzicht alle spelen</a>
    </div>
    
{% endblock %}