{% extends "_layouts/site" %}
  
{% block content %}

    <div class="container profile">
        <div class="games__left-column">
        </div>
        {# Require that a user is logged in to view this form. #}
        {% requireLogin %}

        <div class="games__content">

            
        </div>
    </div>


{% endblock %}