$primary-color: #1C1C1C;
$secondary-color: #BE0000;
$white: #FFFFFF;


$light-gray: #DBDBDB;
$dark-gray: #707070;

$orange: #ED5C01;
$dark-blue: #052D3E;
$yellow: #FBBD08;
$creme: #EBE3CB;
$light-blue: #169CAB;