.games{
    &__left{
        &-column{
            max-width: 300px;
            width: 100%;
            background-color: $light-blue;
            position: fixed;
            height: 100%;
            box-sizing: border-box;
            padding: 1rem;
            overflow: scroll;
        }
    }
    &__content{
        max-width: calc(100% - 300px);
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        margin-left: 300px;
        &-bottom-text{
            float: right;
        }
        &-link{
            text-decoration: none;
            color: $dark-gray;
        }
        &__item{
            width: 100%;
            box-sizing: border-box;
            padding: 2rem 1rem 1rem;
            border-bottom: solid 2px $light-blue;
            &:hover{
                background-color: $yellow;
            }
        }
        &-title{
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 2rem;
        }
        &-mainTitle{
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 3.333rem;
        }
        &-subtitle{
            font-family: $secondary-font;
            font-weight: bold;
            font-size: 1.444rem;
            margin-top: 1rem;
        }
        &-text{
            line-height: 1.667rem;
            font-size: 1.222rem;
            font-weight: 300;
        }
        &-specs{
            line-height: 1.667rem;
            font-size: 1.222rem;
            font-weight: 400;
            &-spec{
                display: block;
                width: 100%;
                margin-bottom: 1rem;
                font-weight: 400;
            }
        }
    }
    &__form{
        max-width: 80%;
    }
}
li.games__content-specs-spec{
    font-size:1.222rem;
    line-height: 1rem;
    a{
        text-decoration: none;
        color: $yellow;
        &:hover{
            color: $dark-blue;
        }
    }
}

@media only screen and (max-width: 768px){
    .games{
        &__left{
            &-column{
                display: none;
            }
        }
        &__content{
            max-width: 100%;
            margin-left: 0px;
        }
    }
}

@media only screen and (max-width: 480px){
    
}